<h1>Students enrolled in <%= @course.name %></h1>
<table>
  <thead>
    <th>#</th>
    <th>Name</th>
  </thead>
  <tbody>
    <% @course.students.all.each_with_index do |student, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= student.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
